In [80]:
import pandas as pd
confirmedData = pd.read_csv("time_series_19-covid-Confirmed.csv") 
deathData = pd.read_csv("time_series_19-covid-Deaths.csv")
recoveredData = pd.read_csv("time_series_19-covid-Recovered.csv")

In [81]:
tempDF = deathData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "deathFreq"]
DeathTimeSeries = tempDF
#DeathTimeSeries

In [82]:
tempDF = confirmedData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "confirmedFreq"]
ConfirmedTimeSeries = tempDF

In [83]:
tempDF = recoveredData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "recoveredFreq"]
RecoveredTimeSeries = tempDF

In [84]:
DeathTimeSeries.set_index('date').join(RecoveredTimeSeries.set_index('date'))
DeathTimeSeries.join(RecoveredTimeSeries.set_index('date'), on='date')

       date  deathFreq  recoveredFreq
0   1/22/20       17.0           28.0
1   1/23/20       18.0           30.0
2   1/24/20       26.0           36.0
3   1/25/20       42.0           39.0
4   1/26/20       56.0           52.0
5   1/27/20       82.0           61.0
6   1/28/20      131.0          107.0
7   1/29/20      133.0          126.0
8   1/30/20      171.0          143.0
9   1/31/20      213.0          222.0
10   2/1/20      259.0          284.0
11   2/2/20      362.0          472.0
12   2/3/20      426.0          623.0
13   2/4/20      492.0          852.0
14   2/5/20      564.0         1124.0
15   2/6/20      634.0         1487.0
16   2/7/20      719.0         2011.0
17   2/8/20      806.0         2616.0
18   2/9/20      906.0         3244.0
19  2/10/20     1013.0         3946.0
20  2/11/20     1113.0         4683.0
21  2/12/20     1118.0         5150.0
22  2/13/20     1371.0         6295.0
23  2/14/20     1523.0         8058.0
24  2/15/20     1666.0         9395.0
25  2/16/20     1770.0        10865.0
26  2/17/20     1868.0        12583.0
27  2/18/20     2007.0        14352.0
28  2/19/20     2122.0        16121.0
29  2/20/20     2247.0        18177.0
30  2/21/20     2251.0        18890.0
31  2/22/20     2458.0        22886.0
32  2/23/20     2469.0        23394.0
33  2/24/20     2629.0        25227.0
34  2/25/20     2708.0        27905.0
35  2/26/20     2770.0        30384.0
36  2/27/20     2814.0        33277.0
37  2/28/20     2872.0        36711.0
38  2/29/20     2941.0        39782.0
39   3/1/20     2996.0        42716.0
40   3/2/20     3085.0        45602.0
41   3/3/20     3160.0        48228.0
42   3/4/20     3254.0        51170.0
43   3/5/20     3348.0        53796.0
44   3/6/20     3460.0        55865.0
45   3/7/20     3558.0        58358.0
46   3/8/20     3802.0        60694.0
47   3/9/20     3988.0        62494.0
48  3/10/20     4290.0        64411.0
49  3/11/20     4647.0        67014.0

In [4]:
#Final
import pandas as pd
confirmedData = pd.read_csv("time_series_covid19_confirmed_global.csv") 
deathData = pd.read_csv("time_series_covid19_deaths_global.csv")
recoveredData = pd.read_csv("time_series_covid19_recovered_global.csv")

tempDF = deathData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "deathFreq"]
DeathTimeSeries = tempDF
#DeathTimeSeries
tempDF = confirmedData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "confirmedFreq"]
ConfirmedTimeSeries = tempDF

tempDF = recoveredData.sum(axis=0)
tempDF = tempDF.drop([tempDF.index[0] , tempDF.index[1]])

#tempDF = pd.DataFrame(data=tempDF)

tempDF = tempDF.reset_index()
tempDF.columns = ["date", "recoveredFreq"]
RecoveredTimeSeries = tempDF

TotalTimeSeries = ConfirmedTimeSeries.join(DeathTimeSeries.set_index('date'), on='date')
TotalTimeSeries = TotalTimeSeries.join(RecoveredTimeSeries.set_index('date'), on='date')
TotalTimeSeries.reset_index(level=0, inplace=True)
TotalTimeSeries.to_csv('TotalTimeSeries.csv', index = True, header=True)
TotalTimeSeries.to_json('TotalTimeSeries.json', orient="records", index = True)

In [5]:
TotalTimeSeries

    index     date  confirmedFreq  deathFreq  recoveredFreq
0       0  1/22/20          555.0       17.0           28.0
1       1  1/23/20          654.0       18.0           30.0
2       2  1/24/20          941.0       26.0           36.0
3       3  1/25/20         1434.0       42.0           39.0
4       4  1/26/20         2118.0       56.0           52.0
5       5  1/27/20         2927.0       82.0           61.0
6       6  1/28/20         5578.0      131.0          107.0
7       7  1/29/20         6166.0      133.0          126.0
8       8  1/30/20         8234.0      171.0          143.0
9       9  1/31/20         9927.0      213.0          222.0
10     10   2/1/20        12038.0      259.0          284.0
11     11   2/2/20        16787.0      362.0          472.0
12     12   2/3/20        19881.0      426.0          623.0
13     13   2/4/20        23892.0      492.0          852.0
14     14   2/5/20        27635.0      564.0         1124.0
15     15   2/6/20        30794.0      634.0         1487.0
16     16   2/7/20        34391.0      719.0         2011.0
17     17   2/8/20        37120.0      806.0         2616.0
18     18   2/9/20        40150.0      906.0         3244.0
19     19  2/10/20        42762.0     1013.0         3946.0
20     20  2/11/20        44802.0     1113.0         4683.0
21     21  2/12/20        45221.0     1118.0         5150.0
22     22  2/13/20        60368.0     1371.0         6295.0
23     23  2/14/20        66885.0     1523.0         8058.0
24     24  2/15/20        69030.0     1666.0         9395.0
25     25  2/16/20        71224.0     1770.0        10865.0
26     26  2/17/20        73258.0     1868.0        12583.0
27     27  2/18/20        75136.0     2007.0        14352.0
28     28  2/19/20        75639.0     2122.0        16121.0
29     29  2/20/20        76197.0     2247.0        18177.0
..    ...      ...            ...        ...            ...
35     35  2/26/20        81388.0     2770.0        30384.0
36     36  2/27/20        82746.0     2814.0        33277.0
37     37  2/28/20        84112.0     2872.0        36711.0
38     38  2/29/20        86011.0     2941.0        39782.0
39     39   3/1/20        88369.0     2996.0        42716.0
40     40   3/2/20        90306.0     3085.0        45602.0
41     41   3/3/20        92840.0     3160.0        48228.0
42     42   3/4/20        95120.0     3254.0        51170.0
43     43   3/5/20        97886.0     3348.0        53796.0
44     44   3/6/20       101801.0     3460.0        55865.0
45     45   3/7/20       105847.0     3558.0        58358.0
46     46   3/8/20       109821.0     3802.0        60694.0
47     47   3/9/20       113590.0     3988.0        62494.0
48     48  3/10/20       118620.0     4262.0        64404.0
49     49  3/11/20       125875.0     4615.0        67003.0
50     50  3/12/20       128352.0     4720.0        68324.0
51     51  3/13/20       145205.0     5404.0        70251.0
52     52  3/14/20       156101.0     5819.0        72624.0
53     53  3/15/20       167454.0     6440.0        76034.0
54     54  3/16/20       181574.0     7126.0        78088.0
55     55  3/17/20       197102.0     7905.0        80840.0
56     56  3/18/20       214821.0     8733.0        83312.0
57     57  3/19/20       242500.0     9867.0        84975.0
58     58  3/20/20       272035.0    11299.0        87420.0
59     59  3/21/20       304396.0    12973.0        91692.0
60     60  3/22/20       336953.0    14651.0        97899.0
61     61  3/23/20       378235.0    16505.0        98351.0
62     62  3/24/20       418045.0    18625.0       108000.0
63     63  3/25/20       467653.0    21181.0       113787.0
64     64  3/26/20       529591.0    23970.0       122150.0

[65 rows x 5 columns]

In [94]:
#aggregate test
import pandas as pd
confirmedData = pd.read_csv("time_series_covid19_confirmed_global.csv") 
deathData = pd.read_csv("time_series_covid19_deaths_global.csv")
recoveredData = pd.read_csv("time_series_covid19_recovered_global.csv")

new = confirmedData.filter([confirmedData.columns[1], confirmedData.columns[-1]], axis=1)
new.columns = ['Country', 'Confirmed']
aggregation_functions = {'Confirmed': 'sum'}
confirmed = new.groupby(new['Country']).aggregate(aggregation_functions)

#this will be the final table
Final = confirmed

new = deathData.filter([deathData.columns[1], deathData.columns[-1]], axis=1)
new.columns = ['Country', 'Death']
aggregation_functions = {'Death': 'sum'}
death = new.groupby(new['Country']).aggregate(aggregation_functions)

new = recoveredData.filter([recoveredData.columns[1], recoveredData.columns[-1]], axis=1)
new.columns = ['Country', 'Recovered']
aggregation_functions = {'Recovered': 'sum'}
recovered = new.groupby(new['Country']).aggregate(aggregation_functions)

Final = pd.merge(Final, death, on="Country")
Final = pd.merge(Final, recovered, on="Country")

Final = Final.rename(index={'US': 'United States', 'Bahamas' : 'Bahamas, The', 'Cabo Verde' : 'Cape Verde', 'Congo (Brazzaville)' : 'Congo, Republic of the', 'Congo (Kinshasa)': 'Congo, Democratic Republic of the', 'Czechia' : 'Czech Republic', 'Gambia' : 'Gambia, The', 'Holy See' : 'Holy See (Vatican City)', 'Taiwan*' : 'Taiwan'})

Final
#Final.to_csv('testFinal.csv', index = True, header=True)

                        Confirmed  Death  Recovered
Country
Afghanistan                    94      4          2
Albania                       174      6         17
Algeria                       367     25         29
Andorra                       224      3          1
Angola                          4      0          0
Antigua and Barbuda             7      0          0
Argentina                     502      9         63
Armenia                       290      1         18
Australia                    2810     13        172
Austria                      6909     49        112
Azerbaijan                    122      3         15
Bahamas, The                    9      0          1
Bahrain                       458      4        204
Bangladesh                     44      5         11
Barbados                       18      0          0
Belarus                        86      0         29
Belgium                      6235    220        675
Belize                          2      0          0
Benin                           6      0          0
Bhutan                          2      0          0
Bolivia                        43      0          0
Bosnia and Herzegovina        191      3          2
Brazil                       2985     77          6
Brunei                        114      0          5
Bulgaria                      264      3          8
Burkina Faso                  152      7         10
Cape Verde                      4      1          0
Cambodia                       96      0         10
Cameroon                       75      1          2
Canada                       4042     38        184
...                           ...    ...        ...
Slovenia                      562      6         10
Somalia                         2      0          0
South Africa                  927      0         12
Spain                       57786   4365       7015
Sri Lanka                     106      0          7
Sudan                           3      1          0
Suriname                        8      0          0
Sweden                       2840     77         16
Switzerland                 11811    191        131
Syria                           5      0          0
Taiwan                        252      2         29
Tanzania                       13      0          0
Thailand                     1045      4         88
Timor-Leste                     1      0          0
Togo                           23      0          1
Trinidad and Tobago            65      1          0
Tunisia                       197      6          2
Turkey                       3629     75         26
United States               83836   1209        681
Uganda                         14      0          0
Ukraine                       196      5          1
United Arab Emirates          333      2         52
United Kingdom              11812    580        150
Uruguay                       217      0          0
Uzbekistan                     75      0          0
Venezuela                     107      0         15
Vietnam                       153      0         20
West Bank and Gaza             84      1         17
Zambia                         16      0          0
Zimbabwe                        3      1          0

[175 rows x 3 columns]

In [99]:
coronaData = pd.read_csv('corona_data.tsv',delimiter='\t',encoding='utf-8')
#coronaData = coronaData.sort_values('Country')
#coronaData.to_csv('CoronaSorted.csv', index = True, header=True)

In [100]:
coronaData.drop('Confirmed', axis=1, inplace=True)
coronaData.drop('Death', axis=1, inplace=True)
coronaData.drop('Recovered', axis=1, inplace=True)

In [101]:
coronaData = coronaData.merge(Final, on="Country", how = 'left')

In [103]:
coronaData.fillna(0)

,id,Country,Population,Confirmed,Death,Recovered
0,CHN,China,1330141295,81782.0,3291.0,74181.0
1,IND,India,1173108018,727.0,20.0,45.0
2,USA,United States,310232863,83836.0,1209.0,681.0
3,IDN,Indonesia,242968342,893.0,78.0,35.0
4,BRA,Brazil,201103330,2985.0,77.0,6.0
5,PAK,Pakistan,177276594,1201.0,9.0,21.0
6,BGD,Bangladesh,158065841,44.0,5.0,11.0
7,NGA,Nigeria,152217341,65.0,1.0,2.0
8,RUS,Russia,139390205,840.0,3.0,38.0
9,JPN,Japan,126804433,1387.0,47.0,359.0
10,MEX,Mexico,112468855,475.0,6.0,4.0
11,PHL,Philippines,99900177,707.0,45.0,28.0
12,VNM,Vietnam,89571130,153.0,0.0,20.0
13,ETH,Ethiopia,88013491,12.0,0.0,0.0
14,DEU,Germany,82282988,43938.0,267.0,5673.0
15,EGY,Egypt,80471869,495.0,24.0,102.0
16,TUR,Turkey,77804122,3629.0,75.0,26.0
17,COD,"Congo, Democratic Republic of the",70916439,51.0,3.0,0.0
18,IRN,Iran,67037517,29406.0,2234.0,10457.0
19,THA,Thailand,66404688,1045.0,4.0,88.0
20,FRA,France,64057792,29551.0,1698.0,4955.0
21,GBR,United Kingdom,61284806,11812.0,580.0,150.0
22,ITA,Italy,58090681,80589.0,8215.0,10361.0
23,MMR,Burma,53414374,0.0,0.0,0.0
24,ZAF,South Africa,49109107,927.0,0.0,12.0
25,KOR,"Korea, South",48636068,9241.0,131.0,4144.0
26,UKR,Ukraine,45415596,196.0,5.0,1.0
27,COL,Colombia,44205293,491.0,6.0,8.0
28,SDN,Sudan,41980182,3.0,1.0,0.0
29,TZA,Tanzania,41892895,13.0,0.0,0.0
...,...,...,...,...,...,...
211,212,Monaco,30586,33.0,0.0,1.0
212,213,Saint Martin,30235,0.0,0.0,0.0
213,214,Gibraltar,28877,0.0,0.0,0.0
214,215,British Virgin Islands,24939,0.0,0.0,0.0
215,216,Turks and Caicos Islands,23528,0.0,0.0,0.0
216,217,Palau,20879,0.0,0.0,0.0
217,218,Akrotiri,15700,0.0,0.0,0.0
218,219,Dhekelia,15700,0.0,0.0,0.0
219,220,Wallis and Futuna,15343,0.0,0.0,0.0
220,221,Anguilla,14764,0.0,0.0,0.0
221,222,Nauru,14264,0.0,0.0,0.0
222,223,Cook Islands,11488,0.0,0.0,0.0
223,224,Tuvalu,10472,0.0,0.0,0.0
224,225,"Saint Helena, Ascension, and Tristan da Cunha",7670,0.0,0.0,0.0
225,226,Saint Barthelemy,7406,0.0,0.0,0.0
226,227,Saint Pierre and Miquelon,6010,0.0,0.0,0.0
227,228,Montserrat,5118,0.0,0.0,0.0
228,FLK,Falkland Islands (Islas Malvinas),3140,0.0,0.0,0.0
229,230,Norfolk Island,2155,0.0,0.0,0.0
230,231,Svalbard,2067,0.0,0.0,0.0
231,232,Christmas Island,1402,0.0,0.0,0.0
232,233,Tokelau,1400,0.0,0.0,0.0
233,234,Niue,1354,0.0,0.0,0.0
234,235,Holy See (Vatican City),829,4.0,0.0,0.0
235,236,Cocos (Keeling) Islands,596,0.0,0.0,0.0
236,237,Pitcairn Islands,48,0.0,0.0,0.0
237,ATA,Antarctica,0,0.0,0.0,0.0
238,ATF,French Southern and Antarctic Lands,0,0.0,0.0,0.0
239,SDS,South Sudan,12152321,0.0,0.0,0.0
240,ABV,Somaliland,3500000,0.0,0.0,0.0

In [19]:
# AGGREGATE FINAL
import pandas as pd
confirmedData = pd.read_csv("time_series_covid19_confirmed_global.csv") 
deathData = pd.read_csv("time_series_covid19_deaths_global.csv")
recoveredData = pd.read_csv("time_series_covid19_recovered_global.csv")

new = confirmedData.filter([confirmedData.columns[1], confirmedData.columns[-1]], axis=1)
new.columns = ['Country', 'Confirmed']
aggregation_functions = {'Confirmed': 'sum'}
confirmed = new.groupby(new['Country']).aggregate(aggregation_functions)

#this will be the final table
Final = confirmed

new = deathData.filter([deathData.columns[1], deathData.columns[-1]], axis=1)
new.columns = ['Country', 'Death']
aggregation_functions = {'Death': 'sum'}
death = new.groupby(new['Country']).aggregate(aggregation_functions)

new = recoveredData.filter([recoveredData.columns[1], recoveredData.columns[-1]], axis=1)
new.columns = ['Country', 'Recovered']
aggregation_functions = {'Recovered': 'sum'}
recovered = new.groupby(new['Country']).aggregate(aggregation_functions)

Final = pd.merge(Final, death, on="Country")
Final = pd.merge(Final, recovered, on="Country")

Final = Final.rename(index={'US': 'United States', 'Bahamas' : 'Bahamas, The', 'Cabo Verde' : 'Cape Verde', 'Congo (Brazzaville)' : 'Congo, Republic of the', 'Congo (Kinshasa)': 'Congo, Democratic Republic of the', 'Czechia' : 'Czech Republic', 'Gambia' : 'Gambia, The', 'Holy See' : 'Holy See (Vatican City)', 'Taiwan*' : 'Taiwan'})

coronaData = pd.read_csv('corona_data.tsv',delimiter='\t',encoding='utf-8')
coronaData.drop('Confirmed', axis=1, inplace=True)
coronaData.drop('Death', axis=1, inplace=True)
coronaData.drop('Recovered', axis=1, inplace=True)
coronaData = coronaData.merge(Final, on="Country", how = 'left')

coronaData = coronaData.fillna(0)

coronaData.to_csv('Corona_Final.csv', index = True, header=True)

In [23]:
#Most Cases Table
import numpy as np
MostCases = coronaData.sort_values('Confirmed', ascending=False).head(10)

MostCases.drop('Population', axis=1, inplace=True)
MostCases.drop('id', axis=1, inplace=True)
MostCases = MostCases.astype({"Confirmed": int, "Death": int, "Recovered" : int})
MostCases.to_csv('MostCases.csv', index=False, header=True)

#Summary Table
TotalConfirmed = Final['Confirmed'].sum()
TotalDeath = Final['Death'].sum()
TotalRecovered = Final['Recovered'].sum()

d = {'Confirmed': [TotalConfirmed], 'Death': [TotalDeath], 'Recovered' : [TotalRecovered]}
Summary = pd.DataFrame(data=d)
Summary.to_csv('Summary.csv', index=False, header=True)